body{
    font-family: 'Open Sans', sans-serif;
    background: #ececec;
}
/* a, p {
    font-size: 16px !important;
} */

#left-content {
    box-shadow: 10px 10px 4px #9b9a9a;
    z-index: 1;
}
#right-content{
    box-shadow: 8px 10px 4px #9b9a9a;
    z-index: 1;
}
#cicle{
    background-color: #EC8E00;
    border-radius: 50%;
    width: 100px;
    height: 100px;
    z-index: 0;
}
.bg-orange-500 {
    background-color: #EC8E00;
}
/* Inputs */
#id_username, #id_password {
    border-radius: 4px;
    height: 40px;
}

/*  */
.remember-password {
    font-size: 14px !important;
    
}
.forget-password {
    text-decoration: none;
    color: white;
    font-size: 14px !important;
    
}

/* BUTTONS */
.btn-register {
    background-color: transparent;
    border: #fff 2px solid;   
    color: white;
    border-radius: 4px !important; 
}
.btn-login{
    background-color: #fff;
    color: #EC8E00;
    border: #fff 2px solid;
    border-radius: 4px !important; 
}
/* Social */
#social-access {
    font-size: 14px;
    text-align: center;
}
@media only screen and (max-width:991px){
    #right-content{
        background-color: white;
        color: black;
    }
    /* Inputs */
    #id_username, #id_password {
        background-color: #D6D2D2;
        height: 40px;
    }
    /* BUTTONS */
    .btn-register {
        margin-top: 1.5em;
        background-color: transparent;
        border: #EC8E00 2px solid;   
        color: #EC8E00;
        border-radius: 4px !important; 
    }
    .btn-login{
        margin-top: 1.5em;
        background-color: #EC8E00;
        color: #fff;
        border: #EC8E00 2px solid;
        border-radius: 4px !important; 
    }   
    
    .forget-password{
        color: #EC8E00;
    }
    #social-access {
        margin-top: 1em;
    }
}

@media only screen and (max-width:575px){
    /* body{
        background-color: white !important;
    } */
    #login{
        background-color: white !important;
    }
    #left-content{
        visibility: hidden!important;
        width: 0;
    }
    #right-content{
        box-shadow: none;
        padding: 1.5em !important;
    }
    #id_username, #id_password{
        height: 40px;
    }
}
/* Responsive */
/* @media only screen and (max-width:991px){
    #left-content{
        width: 28vw !important;
    }
    #left-content img{
        width: 250px !important;
    }
    #right-content{
        width: 32vw !important;
        padding: 1.5em !important;
    }
    /* BUTTONS */
    /* .btn-register {
        width: 
    }
    .btn-login{
        background-color: #fff;
        color: #EC8E00;
        border: #fff 2px solid;
        border-radius: 4px !important; 
    } */
    
    /* .remember-password,
    .forget-password{
        font-size: 12px !important;
    } */
   
/* } */

/* @media(max-width: 850px){
    #left-content{
        visibility: hidden !important;
        width: 0;
        height: 0;
    }
    #right-content{
        width: auto !important;
    }
} */

/* @media (min-width: 576px){
    #right-content{
        width: 100vw !important;
        margem: 1em !important;
        padding: 0 !important;
    }
    
} */